chart/
!chart/config/*
dist-types
node_modules
packages/*/dist
packages/*/node_modules
plugins/*/dist
plugins/*/node_modules
!packages/backend/dist/skeleton.tar.gz
!packages/backend/dist/bundle.tar.gz